

body {font-size: 14px;}
a {color: #000;font-size: 14px}
/*.form-control*/



/* Start Nav Bar */
.nav-bar-style {float: right;text-align: left;}
.services-menu{text-align: right;left: -24%;top: 81%}
#lang_list {text-align: right}
/*.nav_list {margin-left: 99px!important;margin-right: 54px!important;margin-top: -7px;}*/
.apply_get {margin-top: 6px;margin-left: 177px;}
.navbar-light .navbar-nav a.nav-link{ padding: 13px}
/*.navbar-light .navbar-nav a.nav-link-mid{ padding: 13px!important;}*/
.flag {width: 41px;}
.flag_icon {width: 20px;height: 15px;margin-bottom: 4px;margin-right: 5px;}
/*End Nav Bar*/

/* Start Events Carousel */
.event-details {text-align: right;margin-right: 73px}
.event-p {line-height: 27px; width: 100%; font-size: 18px}
/* End Events Carousel */

/* Start Side Bar */


/* End Side Bar */

















